body {
  height: 100vh;
  width: 100vw;
  background-image: url("../media/img/flower-6182299_1280.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  padding-top: 30px;
}

a {
  position: absolute;
  top: 70%;
  left: 60%;
}

button {
  border: none;
  border-radius: 50px;
  padding: 10px 10px;
  background-color: rgb(224, 212, 34);
}

img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 20%;
}