* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

.body {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(235, 217, 53, 0.811);
}

/* ------------------ */
      /* MAIN */
/* ------------------ */
main {
  width: 100%;
  height: 100%;
  z-index: 50;
  background-image: url("../media/img/vector-seamless-pattern-cartoon-bananas-pink-background_574806-2905.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  padding: auto 0;
}

#builder, #buildResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  height: 700px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#builder {
  width: 60%;
  background-color: bisque;
}

#buildResult {
  width: 35%;
  background-color: #fff;
}

.bananaImage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#bananaName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bananaNameInput {
  text-align: center;
}

.fa-pen-to-square {
  opacity: 0.2;
}

.fa-pen-to-square:hover {
  transition-duration: .5s;
  opacity: 1;
}

.fa-check-double {
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}

#divForDropItems {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../media/img/BananaParts/Body/Banane_1a-try.svg');
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  overflow: visible;
}

#divForDropItems img {
  height: 70%;
  width: 150px;
}


/* ------------------------- */
        /* BUILDER */
/* ------------------------- */
#clothesBox {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clothesLabels {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}

#clothesLabels h2 {
  width: 50%;
  text-align: center;
}

#clothesSelectionBox {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clothesSelection {
  width: 48%;
  height: 100%;
  padding: 5px 0;
  align-self: flex-start;
  box-shadow: inset 0px -4px 12px 0px rgba(0,0,0,0.61);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.clothesSelection img {
  width: 45%;
  margin: 2px 0;
}